{% extends 'boyoblue/core.html' %}
{% block title %} / Create review{% endblock %}

{% block body %}
  <div class="form_content">
    <div class="full-width">
      <p class="text-l text-dark center">Create review</p>
    </div>
    <form class="create" action="/reviews/create/" method="post"">
      {% csrf_token %}
      <input type="hidden" name="api_id" value="{{ api_id }}">
      <input type="hidden" name="type" value="{{ type }}">
      <div class="form_content_fields">
        <div class="labels">
          <label for="id_score">Score:</label>
          <label for="id_title">Title:</label>
          <label for="id_body">Body:</label>
        </div>
        <div class="fields">
          <input type="number" id="id_score" name="score" min="1" max="10" required>
          <input type="text" id="id_title" name="title" maxlength="128" required>
          <textarea id="id_body" name="body" cols="40" rows="10"></textarea>
        </div>
      </div>
      <div class="full-width">
        <button type="submit">Create review</button>
      </div>
    </form>
  </div>
{% endblock %}
