{% extends 'reviews/reviews.html' %} {% block title %} / Create a review{% endblock %} {% block content %}
<div class="container-fluid bg-dark">
  <div class="card">
    <form action="{% url 'reviews:create' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">create post</button>
    </form>
  </div>
</div>
{% endblock %}

<!--
  <div class="form-group">
        <label for="id_movie_id">Enter Movie ID :</label>
        <input type="number" class="form-control" id="id_movie_id" name="movie_id" required="true" placeholder="Movie ID">
        <small id="movie_id_help" class="form-text text-muted">This is placeholder text detailing how Movie IDs work.</small>
      </div>
      <div class="form-group">
        <label for="id_score">Enter Score :</label>
        <input type="number" min="0" max="10" class="form-control" id="id_score" name="score" required="true" placeholder="Score">
        <small id="score_help" class="form-text text-muted">Give a rating from 1 to 10</small>
      </div>
      <div class="form-group">
        <label for="id_title">Enter Title :</label>
        <input type="text" maxlength="128" class="form-control" id="id_title" name="title" required="true" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="id_body">Enter Body :</label>
        <textarea cols="40" rows="10" class="form-control" id="id_body" name="body" required="true">Body</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
-->