.text {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

html, body {
  height: 100%;
}
.wrapper {
  width: 100%;

  display: grid;
  grid-template-areas: ". . ."
                       ". header ."
                       ". . ."
                       ". main ."
                       ". footer .";
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 10px 35px 10px 1fr 50px;

  background-color: #343a40;
}

.header {
  grid-area: header;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header_logo header_brand header_search header_account";
  grid-template-columns: repeat(2, max-content) 1fr max-content;

  background-color: #343a40;
}
#header_logo { grid-area: header_logo; }
#header_brand { grid-area: header_brand; }
#header_search {
  grid-area: header_search;
  display: grid;
  grid-template-areas: "search_select search_text search_submit";
  grid-template-columns: max-content 1fr max-content;
}
#header_account { grid-area: header_account; }
#search_select { grid-area: search_select; }
#search_text { grid-area: search_text; }
#search_submit { grid-area: search_submit; }

.footer {
  grid-area: footer;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: ". footer_credit footer_terms .";
  grid-template-columns: 1fr repeat(2, max-content) 1fr;

  background-color: #343a40;
}
#footer_credit { grid-area: footer_credit; }
#footer_terms { grid-area: footer_terms; }

.main {
  grid-area: main;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: ". content .";
  grid-template-columns: 1fr max-content 1fr;

  background-color: #343a40;
}

#header_brand a {
  display: block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  color: #639bff;
  line-height: 35px;
  font-size: 24px;
}
#header_brand:focus, #header_brand:hover {
  text-shadow: -4px 4px 0px #5b6ee1;
}
.header i {
  margin-right: 6px;
}
.header button, .header input[type="text"], .header select {
  border: 0px;
  transition: all 0.125s ease-in-out;
  background-color: #FAFAFA;
  padding: 0 10px 0 10px;
  height: 35px;

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  line-height: 35px;
  font-size: 14px;
}
.header select, .header button {
  background-color: #639bff;
  color: #FAFAFA;
}
#search_select{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#search_submit {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#account_login, #account_signup, #account_settings, #account_logout {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  background-color: #639bff;
  color: #FAFAFA;
  line-height: 35px;
  font-size: 14px;
  border: 0px;
  transition: all 0.125s ease-in-out;
  padding: 0 10px 0 10px;
  border-radius: 6px;
  float: left;
}
.header button:focus, .header button:hover, .header select:focus, .header select:hover {
  background-color: #5b6ee1;
}
#account_login {
  background-color: #343a40;
  margin-right: 5px;
}
#account_login:focus, #account_login:hover {
  background-color: #FAFAFA;
  color: #343a40;
}
#account_signup:focus, #account_signup:hover, #account_settings:focus, #account_settings:hover, #account_logout:focus, #account_logout:hover {
  background-color: #5b6ee1;
}
#account_settings {
  margin-right: 5px;
}
.gravatar {
  border-radius: 6px;
  margin-right: 5px;
}
#account_logout {
  float: right;
}

.list_content {
  grid-area: content;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 440px);

  background-color: #343a40;
}

.footer p, .footer_github {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  color: #FAFAFA;
  line-height: 50px;
  font-size: 12px;
}
.footer_github:focus, .footer_github:hover {
  color: #639bff;
  text-decoration: underline dotted #639bff;
}

.card {
  background-color: #FAFAFA;
  border: 0;
  border-radius: 6px;
  padding: 10px;
}
.r_l_card_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.r_l_card_text {
  font-size: 14px;
  line-height: 14px;
}
.s_l_card_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.r_l_movie_card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "r_l_movie_card_media r_l_movie_card_title"
                       "r_l_movie_card_media r_l_movie_card_text";
  grid-template-columns: 120px 285px;
  grid-template-rows: 24px 1fr;
}
.r_l_movie_card_media {
  grid-area: r_l_movie_card_media;
}
.r_l_movie_card_title {
  grid-area: r_l_movie_card_title;
}
.r_l_movie_card_text {
  grid-area: r_l_movie_card_text;
}

.r_l_song_card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "r_l_song_card_title"
                       "r_l_song_card_text"
                       "r_l_song_card_media ";
  grid-template-columns: 415px;
  grid-template-rows: 24px 1fr 80px;
}
.r_l_song_card_media {
  grid-area: r_l_song_card_media;
}
.r_l_song_card_title {
  grid-area: r_l_song_card_title;
}
.r_l_song_card_text {
  grid-area: r_l_song_card_text;
}

.s_l_movie_card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "s_l_movie_card_media s_l_movie_card_title";
  grid-template-columns: 107px 1fr;
  grid-template-rows: 160px;
}
.s_l_movie_card_media {
  grid-area: s_l_movie_card_media;
}
.s_l_movie_card_title {
  grid-area: s_l_movie_card_title;
}
.s_l_movie_card_text {
  grid-area: s_l_movie_card_text;
}

.s_l_television_card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "s_l_television_card_media s_l_television_card_title";
  grid-template-columns: 107px 1fr;
  grid-template-rows: 160px;
}
.s_l_television_card_media {
  grid-area: s_l_television_card_media;
}
.s_l_television_card_title {
  grid-area: s_l_television_card_title;
}
.s_l_television_card_text {
  grid-area: s_l_television_card_text;
}

.s_l_book_card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "s_l_book_card_media s_l_book_card_title";
  grid-template-columns: 107px 1fr;
  grid-template-rows: 160px;
}
.s_l_book_card_media {
  grid-area: s_l_book_card_media;
}
.s_l_book_card_title {
  grid-area: s_l_book_card_title;
}
.s_l_book_card_text {
  grid-area: s_l_book_card_text;
}

.s_l_song_card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "s_l_song_card_media s_l_song_card_title";
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px;
}
.s_l_song_card_media {
  grid-area: s_l_song_card_media;
}
.s_l_song_card_title {
  grid-area: s_l_song_card_title;
}
.s_l_song_card_text {
  grid-area: s_l_song_card_text;
}
