.text, .text-xs, .text-s, .text-m, .text-l, .text-title, .text-footer {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.text-xs {
  font-size: 12px;
  line-height: 16px;
}
.text-s {
  font-size: 16px;
  line-height: 20px;
}
.text-m {
  font-size: 24px;
  line-height: 30px;
}
.text-l {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}
.text-title {
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}
.text-footer {
  font-size: 12px;
  line-height: 50px;
  padding: 0;
}
.text-dark {
  color: #343a40;
}
.text-light {
  color: #FAFAFA;
}
.text-link {
  text-decoration: underline dotted;
  transition: all 0.125s ease-in-out;
}
.text-link:focus, .text-link:hover {
  color: #639bff;
  text-decoration: underline dotted #639bff;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

html, body {
  height: 100%;
}
.wrapper {
  width: 100%;

  display: grid;
  grid-template-areas: ". . ."
                       ". header ."
                       ". . ."
                       ". main ."
                       ". footer .";
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 10px 35px 10px auto 50px;

  background-color: #343a40;
}

.header {
  grid-area: header;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header_logo header_brand header_search header_account";
  grid-template-columns: repeat(2, max-content) auto max-content;

  background-color: #343a40;
}
#header_logo { grid-area: header_logo; }
#header_brand { grid-area: header_brand; }
#header_search {
  grid-area: header_search;
  display: grid;
  grid-template-areas: "search_select search_text search_submit";
  grid-template-columns: max-content auto max-content;
}
#header_account { grid-area: header_account; }
#search_select { grid-area: search_select; }
#search_text { grid-area: search_text; }
#search_submit { grid-area: search_submit; }

.footer {
  grid-area: footer;
  display: grid;
  grid-gap: 15px;
  grid-template-areas: ". footer_about footer_credit .";
  grid-template-columns: auto repeat(2, max-content) auto;

  background-color: #343a40;
}
#footer_about { grid-area: footer_about; }
#footer_credit { grid-area: footer_credit; }

.main {
  grid-area: main;
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: auto 910px auto;

  background-color: #343a40;
}

#header_brand a {
  display: block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  color: #639bff;
  line-height: 35px;
  font-size: 24px;
}
#header_brand:focus, #header_brand:hover {
  text-shadow: -4px 4px 0px #5b6ee1;
}
.header i {
  margin-right: 6px;
}
.header button, .header input[type="text"], .header select {
  border: 0px;
  transition: all 0.125s ease-in-out;
  background-color: #FAFAFA;
  padding: 0 10px 0 10px;
  height: 35px;

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  line-height: 35px;
  font-size: 14px;
}
.header select, .header button {
  background-color: #639bff;
  color: #FAFAFA;
}
#search_select{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#search_submit {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#account_login, #account_signup, #account_settings, #account_logout {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  background-color: #639bff;
  color: #FAFAFA;
  line-height: 35px;
  font-size: 14px;
  border: 0px;
  transition: all 0.125s ease-in-out;
  padding: 0 10px 0 10px;
  border-radius: 6px;
  float: left;
}
.header button:focus, .header button:hover, .header select:focus, .header select:hover {
  background-color: #5b6ee1;
}
#account_login {
  background-color: #343a40;
  margin-right: 6px;
}
#account_login:focus, #account_login:hover {
  background-color: #FAFAFA;
  color: #343a40;
}
#account_signup:focus, #account_signup:hover, #account_settings:focus, #account_settings:hover, #account_logout:focus, #account_logout:hover {
  background-color: #5b6ee1;
}
#account_settings {
  margin-right: 6px;
}
.gravatar {
  border-radius: 6px;
  margin-right: 6px;
}
#account_logout {
  float: right;
}
#account_logout_button {
  cursor:pointer;
}

.content {
  grid-area: content;

  background-color: #FAFAFA;
  border-radius: 12px;
  padding: 15px;
}
.content .card {
  background-color: #E5E5E5;
  border-radius: 10px;
  padding: 2px 0 2px 0;
}
.content .text-l {
  padding: 30px 20px 10px 20px;
}
.content .text-title {
  padding-top: 20px;
}
.content .card .text-s, .content .card .text-m {
  padding: 8px 15px 8px 15px;
}
.content .card-divided .text-xs {
  padding: 8px 10px 8px 10px;
}
.content .card-divided .text-link {
  padding: 0;
}

.content .divider {
  height: 4px;
  width: 100%;
}

.paginator {
  grid-column: 1 / -1;
  text-align: center;
}
.paginator > a, .paginator > i, .paginator > p {
  display: inline-block;
  border: 0;
  border-radius: 6px;
  margin: 0 1px 0 1px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  color: #FAFAFA;
}
.paginator > a {
  background-color: #639bff;
  transition: all 0.125s ease-in-out;
}
.paginator > a:focus, .paginator > a:hover {
  background-color: #5b6ee1;
}
.paginator > i {
  color: #FAFAFA;
  background-color: #343a40;
}

.feed_list_content {
  grid-area: content;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 450px);
  background-color: #343a40;
}
.feed_detail_content {
  grid-area: content;
  width: 910px;
  background-color: #343a40;
}
.feed_content img, .feed_content iframe {
  margin: 0;
  padding: 0;
}
.feed_content .card {
  background-color: #FAFAFA;
  border: 0;
  border-radius: 6px;
  padding: 10px;
}
.feed_content .card-1-media {
  float: left; width: 120px;
}
.feed_content .card-1-text {
  margin-left: 128px;
}
.feed_content .card-2 div {
  width: auto;
}
.feed_content .card-2 .text-m {
  padding-top: 5px;
}
.feed_content .card .text-xs {
  padding-top: 3px;
}

.feed_content .card-alert {
  grid-column: 1 / -1;
  text-align: center;
  border: 2px dotted #639bff;
  border-radius: 6px;
}
.feed_content .card-alert > * {
  display: inline-block;
  border: 0;
  border-radius: 6px;
  padding: 15px 5px 15px 5px;
  vertical-align: middle;
}

.form_content {
  grid-area: content;
  width: 400px;
  margin: 0 255px 0 255px;
  background-color: #FAFAFA;
  border: 0;
  border-radius: 6px;
  padding: 15px;
}
.form_content .full-width {
  text-align: center;
  width: 100%;
}
.form_content .full-width > * {
  margin: 5px 0 5px 0;
}
.form_content .full-width > button {
  padding: 10px;
}
.form_content label, .form_content input, .form_content a, .form_content button, .form_content textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #343a40;
}
.form_content a {
  text-decoration: underline dotted;
  transition: all 0.125s ease-in-out;
}
.form_content a:focus, .form_content a:hover {
  color: #639bff;
  text-decoration: underline dotted #639bff;
}
.form_content input, .form_content button, .form_content textarea {
  border: 0;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.form_content button {
  transition: all 0.125s ease-in-out;
  background-color: #639bff;
  color: #FAFAFA;
}
.form_content button:focus, .form_content button:hover {
  background-color: #5b6ee1;
}
.form_content_fields {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "labels fields";
  grid-template-columns: 130px 240px;
}
.fields { grid-area: fields; }
.labels { grid-area: labels; }
.fields input, .fields textarea, .labels label {
  width: 100%;
  margin: 5px 0 5px 0;
}
.fields input, .fields textarea {
  padding: 10px;
  background-color: #E5E5E5;
  width: 180px;
}
.labels label {
  display: block;
  line-height: 43px;
  text-align: right;
  width: 130px;
}
.form_content_fields a {
  display: block;
  margin: 20px 0 0 0;
}
