<div class="card card-2">
  <div class="card-2-media">
    <iframe src="https://open.spotify.com/embed?uri=spotify:album:{{ media.api_id }}" height="250px" width="100%"></iframe>
  </div>
  <div class="card-2-text">
    <p class="text-m text-dark">
      {{ review.score }}/10: {{ review.title }}
    </p>
    <p class="text-s text-dark">
      {{ body }}
      {% if truncate_body %}
        ... 
        <a class="text-xs text-dark text-link" href="/reviews/detail/{{ review.pk }}">
          See full review
        </a>
      {% endif %}
    </p>
    <p class="text-xs text-dark">
      A review of the album "{{ media.name }}" by {{ media.artist }}
    </p>
    <p class="text-xs text-dark">
      Posted {{ review.date|timesince }} ago by {{ review.author }}
    </p>
  </div>
</div>
