<div class="card card-2">
  <div class="card-2-media">
    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:{{ media.api_id }}&size=detail&theme=light" height="56px" width="100%" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
  </div>
  <div class="card-2-text">
    <p class="text-m text-dark">
      {{ review.score }}/10: {{ review.title }}
    </p>
    <p class="text-s text-dark">
      {{ body }}
      {% if truncate_body %}
        ... 
        <a class="text-xs text-dark text-link" href="/reviews/detail/{{ review.pk }}">
          See full review
        </a>
      {% endif %}
    </p>
    <p class="text-xs text-dark">
      A review of the artist {{ media.name }}
    </p>
    <p class="text-xs text-dark">
      Posted {{ review.date|timesince }} ago by <a class="text-xs text-dark text-link" href="/users/{{ review.author }}">{{ review.author }}</a>
    </p>
  </div>
</div>
