<div class="card card-1">
  <div class="card-1-media">
    <img src="{{ media.poster_image }}" width="120px">
  </div>
  <div class="card-1-text">
    <p class="text-m text-dark">
      {{ review.score }}/10: {{ review.title }}
    </p>
    <p class="text-s text-dark">
      {{ body }}
      {% if truncate_body %}
        ... 
        <a class="text-xs text-dark text-link" href="/reviews/detail/{{ review.pk }}">
          See full review
        </a>
      {% endif %}
    </p>
    <p class="text-xs text-dark">
      A review of the television show "{{ media.title }}"
    </p>
    <p class="text-xs text-dark">
      Posted {{ review.date|timesince }} ago by {{ review.author }}
    </p>
  </div>
</div>
