{% extends 'search/list.html' %}

{% block result_card %}
  <div class="card card-2">
    <div class="card-2-media">
      <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:{{ result.api_id }}&size=detail&theme=light" height="56px" width="100%" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
    </div>
    <div class="card-2-text">
      <a class="text-m text-dark text-link" href="/reviews/create/artist/{{result.api_id}}">
        {{ result.name }}
      </a>
    </div>
  </div>
{% endblock %}
