{% extends 'boyoblue/core.html' %}
{% block title %} / All reviews{% endblock %}

{% block body %}
  <div class="list_content">
    {% if results %}
      {% for result in results %}
        {% block result_card %}
        {% endblock %}
      {% endfor %}
    {% else %}
      <h1>There are no results to display</h1>
    {% endif %}
  </div>
  <div class="paginator">
    {% if page != 1 %}
    <a href="?media={{ media }}s&q={{ query }}&page={{ previous_page }}">&laquo;</a>
    {% else %}
    <span>&laquo;</span>
    {% endif %}

    <a href="?media={{ media }}&q={{ query }}&page={{ next_page }}">&raquo;</a>
  </div>
{% endblock %}
