{% extends 'boyoblue/core.html' %}
{% block title %} / All reviews{% endblock %}

{% block body %}
  <div class="list_content">
    {% if results %}
      {% for result in results %}
        {% block result_card %}
        {% endblock %}
      {% endfor %}
    {% else %}
      <h1>There are no results to display</h1>
    {% endif %}
  </div>
  <div class="paginator">
    {% if page != 1 %}
    <a class="text-m" href="?media={{ media }}s&q={{ query }}&page={{ previous_page }}"><i class="fas fa-caret-left"></i></a>
    {% else %}
    <i class="fas fa-caret-left" style="font-size: 24px;"></i>
    {% endif %}

    <a class="text-m" href="?media={{ media }}&q={{ query }}&page={{ next_page }}"><i class="fas fa-caret-right"></i></a>
  </div>
{% endblock %}
