{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>BoyoBlue{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/static/styles/reset.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/styles/stylesheet.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono"/>
</head>
<body style="background-color: #343a40;">
  <section class="wrapper">
    {% include 'boyoblue/header.html' %}
    <main class="main">
      {% block body %}
      {% endblock %}
    </main>
    {% include 'boyoblue/footer.html' %}
  </section>
</body>
</html>
