<nav class="navbar navbar-dark bg-dark">
  <div class="col-sm-12">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <p class="nav-link" href="">
          created by 
          <a class="disabled" href="">B. Bean</a>, 
          <a class="disabled" href="">P. Lavigne</a>, and 
          <a class="disabled" href="">Z. Munro</a>
        </p>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="">terms of service</a>
      </li>
    </ul>
  </div>
</nav>
