{% load gravatar %}
{% load static %}
<header class="header">
  <div id="header_logo">
    <a href="{% url 'home' %}">
      <img src="/static/images/logo.svg" height="35px" width="35px">
    </a>
  </div>
  
  <div id="header_brand">
    <a href="{% url 'home' %}">BoyoBlue</a>
  </div>
  
  <form id="header_search" action="/search/" method="get" >
    <select id="search_select" name="media">
      <option value="songs" selected>Songs</option>
      <option value="movies">Movies</option>
    </select>
    <input id="search_text" type="text" placeholder="Search the media database" name="q">
    <button id="search_submit" type="submit"><i class="fas fa-search"></i>Search</button>
  </form>
  
  <div id="header_account">
    {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
          <img class="rounded gravatar" src="{% gravatar_url user.email 35 %}"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'users:detail' user.username %}">
            Signed in as
            {% if user.first_name or user.last_name %}
              <b> {{ user.first_name }} {{ user.last_name }}</b>
            {% else %}
              <b> {{ user.username }}</b>
            {% endif %}
          </a>
          {% if not user.is_authenticated %}
            <div class="dropdown-divider"></div>
            <p>Your account is unverified. To resend your verification email, visit your account settings.</p>
          {% endif %}
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Your lists</h6>
          <a class="dropdown-item" href="">Completed</a>
          <a class="dropdown-item" href="">Watching</a>
          <a class="dropdown-item" href="">Plan to watch</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Actions</h6>
          <a class="dropdown-item" href="{% url 'reviews:create' %}">Create review</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""><i class="fas fa-cog"></i>Account settings</a>
          <a class="dropdown-item text-danger" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
      </div>
    {% else %}
      <a role="button" id="account_login" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i>Log in</a>
      <a role="button" id="account_signup" href="{% url 'account_signup' %}"><i class="fas fa-user-plus"></i>Sign up</a>
    {% endif %}
  </div>
</header>
