<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="col-sm-3">
      <a href="{% url 'home' %}" class="navbar-brand">BoyoBlue</a>
    </div>
    <div class="col-sm-6">
      <form action="/search/" method="get">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <select class="custom-select" name="media">
                <option selected>Music</option>
                <option value="movies">Movies</option>
              </select>
            </div>
            <input type="text" class="form-control" placeholder="search the media database" name="q">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit" id="button-addon2">
                <i class="fas fa-search" style="font-size: 12px; margin-right: 2px;"></i>
                search
              </button>
            </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <ul class="nav navbar-nav justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown">
            <i class="fas fa-user" style="font-size: 14px; margin-right: 3px;"></i>
            {% if user.is_authenticated %}
              {{ user }}
            {% else %}
              my account
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="">watching</a> -->
            <!-- <a class="dropdown-item" href="">completed</a> -->
            <!-- <a class="dropdown-item" href="">plan to watch</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'reviews:create' %}">create review</a>
              <div class="dropdown-divider"></div>
              <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-item btn btn-primary">log out</button>
              </form>
            {% else %}
              <a class="dropdown-item" href="{% url 'accounts:signup' %}">sign up</a>
              <a class="dropdown-item" href="{% url 'accounts:login' %}">log in</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
