{% load gravatar %}
{% load static %}
<header class="header">
  <div id="header_logo">
    <a href="{% url 'home' %}">
      <img src="/static/images/logo.svg" height="35px" width="35px">
    </a>
  </div>
  
  <div id="header_brand">
    <a href="{% url 'home' %}">BoyoBlue</a>
  </div>
  
  <form id="header_search" action="/search/" method="get" >
    <select id="search_select" name="media">
      <option value="movies" selected>Movies</option>
      <option value="television">Television</option>
      <option value="songs">Songs</option>
      <option value="books">Books</option>
    </select>
    <input id="search_text" type="text" placeholder="Search the media database" name="q">
    <button id="search_submit" type="submit"><i class="fas fa-search"></i>Search</button>
  </form>
  
  <div id="header_account">
    {% if user.is_authenticated %}
      <a href="{% url 'users:detail' user.username %}">
        <img class="gravatar" src="{% gravatar_url user.email 35 %}"/>
      </a>
      <a role="button" id="account_settings" href=""><i class="fas fa-cog"></i>Settings</a>
      <a role="button" id="account_logout" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i>Log out</a>
    {% else %}
      <a role="button" id="account_login" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i>Log in</a>
      <a role="button" id="account_signup" href="{% url 'account_signup' %}"><i class="fas fa-user-plus"></i>Sign up</a>
    {% endif %}
  </div>
</header>
