{% extends 'boyoblue/core.html' %}
{% block title %} Sign in{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block body %}
  <div class="form_content">
    <div class="full-width">
      <p class="text-l text-dark center">Log in</p>
    </div>
    <div class="full-width">
      <p class="text-s text-dark center">We support signing in using <a class="text-s text-dark text-link" href="https://gravatar.com/">Gravatar</a> and <a class="text-s text-dark text-link" href="/accounts/google/login/?process=login">Google</a>. Alternatively, <a class="text-s text-dark text-link" href="{{ signup_url }}">sign up</a> for a BoyoBlue account and log in below:</p>
    </div>
    <div class="full-width">
      <a href="/accounts/google/login/?process=login"><img src="https://cdn.jsdelivr.net/gh/pataman3/boyoblue@v1/boyoblue/static/images/logos/google_auth.png" onmouseover="this.src='https://cdn.jsdelivr.net/gh/pataman3/boyoblue@v1/boyoblue/static/images/logos/google_auth_hover.png'"
        onmouseout="this.src='https://cdn.jsdelivr.net/gh/pataman3/boyoblue@v1/boyoblue/static/images/logos/google_auth.png'"width="200px"/></a>
    </div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="form_content_fields">
        <div class="labels">
          <label for="id_login">Username:</label>
          <label for="id_password">Password:</label>
        </div>
        <div class="fields">
          <input type="text" id="id_login" name="login" placeholder="Username" maxlength="150" required>
          <input type="password" id="id_password" name="password" placeholder="Password" required>
        </div>
      </div>
      <div class="full-width">
        <button type="submit">{% trans "Log in" %}</button>
      </div>
      <div class="full-width">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    </form>
  </div>
{% endblock %}
